header {
  height: 15vh;
  padding: 2rem 4rem !important;
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: $white;
    font: 3.5rem $font-secondary;
    @media #{$media-down-lg} {
      font: 3rem $font-secondary;
    }
  }
  h2 {
    color: $white;
    font: 3.5rem $font-primary;
    @media #{$media-down-lg} {
      font: 2.5rem $font-primary;
    }
  }
  h3 {
    @extend h2;
    @media #{$media-down-lg} {
      font: 2.5rem $font-primary;
    }
  }
}
