#records {
  padding: 3rem 5rem;
  > h1 {
    margin-bottom: 5rem;
    font: 900 rem(60) $font-primary;
    text-transform: uppercase;
    color: $green-font;
    text-shadow: 3px 3px 0px $green;
    text-align: center;
  }
  article {
    width: 50%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
    font-family: Megrim;
    color: $green-font;

    @media #{$media-down-xl} {
      width: 80%;
    }
    > h1 {
      font-size: rem(30);
    }
    > h2 {
      font-size: rem(45);
      @media #{$media-down-md} {
        font-size: rem(35);
      }
    }
  }
}

#grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 2rem;

  @media #{$media-down-xl} {
    // margin: 5vh 20%;
  }
  @media #{$media-down-lg} {
    // margin: 5vh 10%;
    grid-template-columns: repeat(4, 100px);
  }
}
