.card {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.backcard {
  @extend .card;
  background: $green !important;
  transition: 1s;
}
.flip {
  pointer-events: none;
  animation: flip 1 0.5s;
}
.win {
  animation: winCard 3s 1 forwards;
  pointer-events: none;
}

@keyframes flip {
  0% {
    background: $green;
    transform: rotateY(2turn);
    box-shadow: 0 0 5px $green, 0 0 15px $green, 0 0 30px $green,
      0 0 60px $green;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes winCard {
  0% {
    transform: rotateY(0);
    border: 2px solid $gold;
    box-shadow: 0px 0px 15px 0px $gold;
  }
  13% {
    top: -2.5%;
    transform: translateY(-5%);
    border: 2px solid $gold;
    box-shadow: 0px 0px 15px 0px $gold;
  }
  25% {
    transform: rotateY(1.5turn) translateY(-10%);
    border: 2px solid $gold;
    box-shadow: 0px 0px 15px 0px $gold;
  }
  40% {
    transform: translateY(-15%);
    border: 2px solid $gold;
    box-shadow: 0px 0px 15px 0px $gold;
  }
  55% {
    transform: rotateY(3turn) scale(0.5) translateY(-20%);
    border: none;
    box-shadow: none;
  }
  70% {
    transform: scale(0) translateY(-15%);
  }
  79% {
    background: initial;
  }
  80% {
    background: none;
  }
  100% {
    background: none;
  }
}