$bp-sm: 576px; //Smartphones
$bp-md: 768px; //Tablettes (ou smartphones en mode portrait)
$bp-lg: 992px; //PC
$bp-xl: 1200px; //PC grand-écran

$media-up-sm: "only screen and (min-width: #{$bp-sm})";
$media-up-md: "only screen and (min-width: #{$bp-md})";
$media-up-lg: "only screen and (min-width: #{$bp-lg})";
$media-up-xl: "only screen and (min-width: #{$bp-xl})";

$media-down-sm: "only screen and (max-width: #{$bp-sm})";
$media-down-md: "only screen and (max-width: #{$bp-md})";
$media-down-lg: "only screen and (max-width: #{$bp-lg})";
$media-down-xl: "only screen and (max-width: #{$bp-xl})";
//Utilisation}: @media #{$media-up-sm} {}
