@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Megrim&display=swap");

$font-primary: "Megrim";
$font-secondary: "Dancing Script";

$font-size: 16px;
